<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/landing.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src="js/classes_actions.js"></script>
    <script type="text/javascript" src="js/ejs_production.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navigation_bar" style="background-color:#152935;">
        <div class="content" align="center" style="background-color:#25313D;" id="content-header">
            <div class="row">
                <h3 style="color: #FFFFFA;">Hi, <%= name %> (<%= email %>)!</h3>
            </div>
            <div class="row">
                <h4 id="welcome" style="color: #FFFFFA;">Welcome to the <%= permission %> section of Timehelper!</h4>
            </div>
            <div clas="row">
                <div class = "user-profile">
                    <button style="background-color:#25313D;" class="btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img style="color: #FFFFFA; width: 60px; height: 60px;" class="user-profile" src="<%= picture %>" alt="picture" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container form_details">
        <div id="reenroll_button_div" style="display:none">
            <button id="reenroll_button" type="button" class="btn btn-primary btn-md">
                Re-enroll
            </button>
        </div>
        <div id="created_class" style="display:none">
            <div class="alert alert-success">
                Successfully created (please, refresh the page)
            </div>
        </div>
        <div id="removed_class" style="display:none">
            <div class="alert alert-success">
                Successfully removed (please, refresh the page)
            </div>
        </div>
        <div id="updated_class" style="display:none">
            <div class="alert alert-success">
                Successfully updated (please, refresh the page)
            </div>
        </div>
        <div id="create_class_form" style="display:none">
            <form class="form-horizontal" action="/create_class" method="GET" name="outcome" id="outcome">
                <fieldset>
                    <legend class="resizables"> New Record Information </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <div class='input-group date' id='create_datetimepicker'>
                                        <input type='text' class="form-control" id='create_start' name='create_start'/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function() {
                                    $('#create_datetimepicker').datetimepicker({
                                        format: 'dddd hh:mm A',
                                        stepping: '30'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="create_duration">
                            <option>00:30</option>
                            <option>01:00</option>
                            <option>01:30</option>
                            <option>02:00</option>
                            <option>02:30</option>
                            <option>03:00</option>
                            <option>03:30</option>
                            <option>04:00</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="text" autocomplete="off" class="form-control" id="create_class_title" name="create_class_title" placeholder="Enter class title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="text" autocomplete="off" class="form-control" id="create_class_description" name="create_class_description" placeholder="Enter class description"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button id="create_class_button" type="submit" class="btn btn-success">Create class</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="update_class_form" style="display:none">
            <form class="form-horizontal" action="/update_class" method="GET" name="outcome" id="outcome">
                <fieldset>
                    <legend class="resizables"> Update Class Information </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class='col-md-3'>
                                <div class="form-group">
                                    <div class='input-group date' id='upd_datetimepicker'>
                                        <input type='text' class="form-control" id='upd_start' name='upd_start' readonly/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function() {
                                    $('#upd_datetimepicker').datetimepicker({
                                        format: 'dddd hh:mm A',
                                        stepping: '30'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="upd_duration">
                            <option>00:30</option>
                            <option>01:00</option>
                            <option>01:30</option>
                            <option>02:00</option>
                            <option>02:30</option>
                            <option>03:00</option>
                            <option>03:30</option>
                            <option>04:00</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="text" autocomplete="off" class="form-control" id="upd_class_title" name="upd_class_title" placeholder="Enter class title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="text" autocomplete="off" class="form-control" id="upd_class_description" name="upd_class_description" placeholder="Enter class description"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <button id="update_class_button" type="submit" class="btn btn-success">Update class</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <!-- markup -->
        <div class="col-md-12">
            <div class="naviBar">
                <ul class="navi nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#taskViewDiv">My schedule</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="taskViewDiv" class="tab-pane in active">
                    <table id="taskView" width="98%" border="1">
                        <tbody>
                            <tr>
                                <th scope="col"></th>
                                <th id="day1" scope="col" width="14%" style="background-color: #ffffff;">Sunday</th>
                                <th id="day2" scope="col" width="14%">Monday</th>
                                <th id="day3" scope="col" width="14%">Tuesday</th>
                                <th id="day4" scope="col" width="14%">Wednesday</th>
                                <th id="day5" scope="col" width="14%">Thursday</th>
                                <th id="day6" scope="col" width="14%">Friday</th>
                                <th id="day7" scope="col" width="14%" style="background-color: #ffffff;">Saturday</th>
                            </tr>
                            <tr hidden="hidden"></tr>
                            <tr>
                                <th rowspan="2" scope="row" width="45px" height="200px"><p>9AM</p></th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">10am</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">11am</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">12am</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">1pm</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">2pm</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">3pm</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">4pm</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="row" height="200px">5pm</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space"></div> 
                    <div class="footer "  >
                    <div class="today"><strong>Tasks: Today</strong><br>Buy text books<br>Email Lecturer<br> Draft CV</div>
                    <div class="time"><strong>Time</strong><br>8pm-10am<br>2pm<br>9pm-10pm</div>
                    <div class="category"><strong>Category</strong><br>Study<br>Study<br>Work</div>
                    <div class="reminder"><strong>Reminder</strong><br>None<br>1:30pm<br>None</div>
                </div>
                <div class="after-space"></div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel"><%= email %></h4>
              <h5 class="modal-title">Please select classes to enroll:</h5>
            </div>
            <div class="modal-body">
                <table id="enrollView" class="table">
                    <% for(var i=0; i < class_id.length; i++) { %>
                    <tr>
                        <td><input type="checkbox" name=<%= class_id[i] %> /<%= enrolled_class[i] %>/ />&nbsp;</td>
                        <td><%= class_start[i] %></td>
                        <td><%= class_duration[i] %></td>
                        <td><%= class_title[i] %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div class="modal-footer">
              <button id="button_login_student" type="button" class="btn btn-primary">I'm a student</button>
              <button id="button_login_lecturer" type="button" class="btn btn-primary">I'm a lecturer</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
          $(function(){
              if(<%= showmodal %>)
                $("#myModal").modal("show");
          })
      </script>
</body>
</html>
